<h1 align="center">Log in</h1>
<div align="center">
  <%= form_with scope: :session, url: login_path , local: true do |form| %>
    <%= form.label :email %><br>
    <%= form.email_field :email %><br>

    <%= form.label :password %><br>
    <%= form.password_field :password , autocomplete: "off" %><br><br>
    <%= form.submit "LogIn", class: 'btn btn-primary' %>
  <% end %>
</div>

